@font-face {
  font-family: 'Munro';
  src: url('./assets/fonts/munro.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSansPro-SemiBold.ttf');
}

.font-heading {
  letter-spacing: 1px;
}

@layer base {
  h2 {
    @apply font-heading;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}
